* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(imagens/galaxy-night-landscape.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4895AA;
    padding: 10px;
}

.logo {
    margin-left: 10px;
}

.logo img {
    width: 230px;
    height: auto;
}

.menu {
    display: flex;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 20px; 
}

.conteudo {
    background-color: #4895AA;
    margin: 2%;
    padding: 1%;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.conteudo-formulas {
    display:  flex;
}

.conteudo-formulas img {
    width: 450px;
    border-radius: 20px;
}

.conteudo-formulas p {
    margin: 20px;
    font-size: 18px;
}

.conteudo-quizizz {
    display:  flex;
    margin-bottom: 20px;
}

.conteudo-quizizz img {
    width: 450px;
    border-radius: 20px;
    margin-top: 50px;
}

.conteudo-quizizz p {
    margin: 20px;
    font-size: 18px;
}

footer {
    background-color: #4895AA;
    text-align: center;
    align-items: center;
    margin-top: 2%;
    
}

footer img {
    width: 230px;
    height: auto;
    margin-bottom: 15px;
}

footer p {
   font-size: 10px;
}

.caixa-formulas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.caixa-formulas h1 {
    margin-top: 20px;
}

.caixa {
    background-color: #4895AA;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 180px;
    padding: 10px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.8s ease;
}

.caixa:hover {
    transform: scale(1.1);
}

.caixa h2, .caixa h3 {
    margin-bottom: 20px;
}

.exercicios {
    display: flex;
    margin-top: 20px;
}

.quiz {
    display: flex;
    flex-direction: column;
    background-color: #4895AA;
    margin-top:3%;
    width: 290px;
    height: 280px;
    font-size: 13px;
    justify-content: center;
    padding: 20px;
    align-items: center;
    gap: 20px ;
    border-radius: 14px;
    transition: all 0.7s ease;
}

.descricao {
    background-color: #063f59;
    display: flex;
    width: 240px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}

.conteudo-tudo {
    display: flex;
    gap: 40px;
    margin: 2%;
    justify-content: center;
}

.um {
    text-align: center;
    margin-top: 2%;
}

h1 {
    color: white;
}

a{
    text-decoration: none;
    color: black;
}

.quiz:hover {
    color: aliceblue;
    transform: scale(1.1);  
}

a:hover {
    color: aliceblue;
}

.reto {
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    background-color: #4895AA;
    text-align: center;
    border-radius: 20px;    
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

.reto img {
 width: 400px;
 border-radius: 50px;
}

.dois {
    padding: 20px;
}
